{
  "presets": ["next/babel"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "common": "./common",
          "@": "./modules"
        }
      }
    ]
  ]
}
